*.pyc
/sprites/jump/player - jump_00000.png
/sprites/jump/player - jump_00001.png
/sprites/jump/player - jump_00002.png
/sprites/jump/player - jump_00003.png
/sprites/jump/player - jump_00004.png
/sprites/jump/player - jump_00005.png
/sprites/jump/player - jump_00006.png
/sprites/jump/player - jump_00007.png
/sprites/jump/player - jump_00008.png
/sprites/jump/player - jump_00009.png
/sprites/jump/player - jump_00010.png
/sprites/jump/player - jump_00011.png
/sprites/jump/player - jump_00012.png
/sprites/jump/player - jump_00013.png
/sprites/jump/player - jump_00014.png
/sprites/jump/player - jump_00015.png
/sprites/jump/player - jump_00016.png
/sprites/jump/player - jump_00017.png
/sprites/jump/player - jump_00018.png
/sprites/jump/player - jump_00019.png
/sprites/jump/player - jump_00020.png
/sprites/jump/player - jump_00021.png
/sprites/jump/player - jump_00022.png
/sprites/jump/player - jump_00023.png
/sprites/jump/player - jump_00024.png
/sprites/jump/player - jump_00025.png
/sprites/jump/player - jump_00026.png
/sprites/jump/player - jump_00027.png
/sprites/run/player - run_00000.png
/sprites/run/player - run_00001.png
/sprites/run/player - run_00002.png
/sprites/run/player - run_00003.png
/sprites/run/player - run_00004.png
/sprites/run/player - run_00005.png
/sprites/run/player - run_00006.png
/sprites/run/player - run_00007.png
/sprites/run/player - run_00008.png
/sprites/run/player - run_00009.png
/sprites/run/player - run_00010.png
/sprites/run/player - run_00011.png
/sprites/run/player - run_00012.png
/sprites/run/player - run_00013.png
/sprites/run/player - run_00014.png
/sprites/run/player - run_00015.png
/sprites/run/player - run_00016.png
/sprites/run/player - run_00017.png
/sprites/run/player - run_00018.png
/sprites/run/player - run_00019.png
/sprites/run/player - run_00020.png
/sprites/run/player - run_00021.png
/sprites/run/player - run_00022.png
/sprites/run/player - run_00023.png
/sprites/slide/player - slide_00000.png
/sprites/slide/player - slide_00001.png
/sprites/slide/player - slide_00002.png
/sprites/slide/player - slide_00003.png
/sprites/slide/player - slide_00004.png
/sprites/slide/player - slide_00005.png
/sprites/slide/player - slide_00006.png
/sprites/slide/player - slide_00007.png
/sprites/slide/player - slide_00008.png
/sprites/slide/player - slide_00009.png
/sprites/slide/player - slide_00010.png
/sprites/slide/player - slide_00011.png
/sprites/slide/player - slide_00012.png
/sprites/slide/player - slide_00013.png
/sprites/slide/player - slide_00014.png
/sprites/slide/player - slide_00015.png
/sprites/slide/player - slide_00016.png
/sprites/slide/player - slide_00017.png
/sprites/slide/player - slide_00018.png
/sprites/slide/player - slide_00019.png
/sprites/slide/player - slide_00020.png
/sprites/slide/player - slide_00021.png
/sprites/slide/player - slide_00022.png
/sprites/slide/player - slide_00023.png
/sprites/spritesheet.rb
/sprites/walk/player - walk_00020.png
/sprites/walk/player - walk_00021.png
/sprites/walk/player - walk_00022.png
/sprites/walk/player - walk_00023.png
/sprites/walk/player - walk_00024.png
/sprites/walk/player - walk_00025.png
/sprites/walk/player - walk_00026.png
/sprites/walk/player - walk_00027.png
/sprites/walk/player - walk_00028.png
/sprites/walk/player - walk_00029.png
/sprites/walk/player - walk_00030.png
/sprites/walk/player - walk_00031.png
/sprites/walk/player - walk_00032.png
/sprites/walk/player - walk_00033.png
/sprites/walk/player - walk_00034.png
/sprites/walk/player - walk_00035.png
/sprites/walk/player - walk_00036.png
/sprites/walk/player - walk_00037.png
/sprites/walk/player - walk_00038.png
/sprites/walk/player - walk_00039.png
/sprites/walk/player - walk_00040.png
/sprites/walk/player - walk_00041.png
/sprites/walk/player - walk_00042.png
/sprites/walk/player - walk_00043.png
/sprites/walk/player - walk_00044.png
/sprites/walk/player - walk_00045.png
/sprites/walk/player - walk_00046.png
/sprites/walk/player - walk_00047.png
/sprites/walk/player - walk_00048.png
/sprites/walk/player - walk_00049.png
/sprites/walk/player - walk_00050.png
/sprites/walk/player - walk_00051.png
/sprites/walk/player - walk_00052.png
/sprites/walk/player - walk_00053.png
/sprites/walk/player - walk_00054.png
/sprites/walk/player - walk_00055.png
/sprites/walk/player - walk_00056.png
/sprites/walk/player - walk_00057.png
/sprites/walk/player - walk_00058.png
/sprites/walk/player - walk_00059.png
/sprites/walk/player - walk_00060.png
/sprites/walk/player - walk_00061.png
/sprites/walk/player - walk_00062.png
/sprites/walk/player - walk_00063.png
/sprites/walk/player - walk_00064.png
/sprites/walk/player - walk_00065.png
/sprites/walk/player - walk_00066.png
/sprites/walk/player - walk_00067.png
/sprites/walk/player - walk_00068.png
/sprites/walk/player - walk_00069.png
/sprites/walk/player - walk_00070.png
/sprites/walk/player - walk_00071.png
/sprites/walk/player - walk_00072.png
/sprites/walk/player - walk_00073.png
/sprites/walk/player - walk_00074.png
/sprites/walk/player - walk_00075.png
/sprites/wire kick/player - wire kick_00000.png
/sprites/wire kick/player - wire kick_00001.png
/sprites/wire kick/player - wire kick_00002.png
/sprites/wire kick/player - wire kick_00003.png
/sprites/wire kick/player - wire kick_00004.png
/sprites/wire kick/player - wire kick_00005.png
/sprites/frames/player - jump_00000.png
/sprites/frames/player - jump_00001.png
/sprites/frames/player - jump_00002.png
/sprites/frames/player - jump_00003.png
/sprites/frames/player - jump_00004.png
/sprites/frames/player - jump_00005.png
/sprites/frames/player - jump_00006.png
/sprites/frames/player - jump_00007.png
/sprites/frames/player - jump_00008.png
/sprites/frames/player - jump_00009.png
/sprites/frames/player - jump_00010.png
/sprites/frames/player - jump_00011.png
/sprites/frames/player - jump_00012.png
/sprites/frames/player - jump_00013.png
/sprites/frames/player - jump_00014.png
/sprites/frames/player - jump_00015.png
/sprites/frames/player - jump_00016.png
/sprites/frames/player - jump_00017.png
/sprites/frames/player - jump_00018.png
/sprites/frames/player - jump_00019.png
/sprites/frames/player - jump_00020.png
/sprites/frames/player - jump_00021.png
/sprites/frames/player - jump_00022.png
/sprites/frames/player - jump_00023.png
/sprites/frames/player - jump_00024.png
/sprites/frames/player - jump_00025.png
/sprites/frames/player - jump_00026.png
/sprites/frames/player - jump_00027.png
/sprites/frames/player - run_00000.png
/sprites/frames/player - run_00001.png
/sprites/frames/player - run_00002.png
/sprites/frames/player - run_00003.png
/sprites/frames/player - run_00004.png
/sprites/frames/player - run_00005.png
/sprites/frames/player - run_00006.png
/sprites/frames/player - run_00007.png
/sprites/frames/player - run_00008.png
/sprites/frames/player - run_00009.png
/sprites/frames/player - run_00010.png
/sprites/frames/player - run_00011.png
/sprites/frames/player - run_00012.png
/sprites/frames/player - run_00013.png
/sprites/frames/player - run_00014.png
/sprites/frames/player - run_00015.png
/sprites/frames/player - run_00016.png
/sprites/frames/player - run_00017.png
/sprites/frames/player - run_00018.png
/sprites/frames/player - run_00019.png
/sprites/frames/player - run_00020.png
/sprites/frames/player - run_00021.png
/sprites/frames/player - run_00022.png
/sprites/frames/player - run_00023.png
/sprites/frames/player - slide_00000.png
/sprites/frames/player - slide_00001.png
/sprites/frames/player - slide_00002.png
/sprites/frames/player - slide_00003.png
/sprites/frames/player - slide_00004.png
/sprites/frames/player - slide_00005.png
/sprites/frames/player - slide_00006.png
/sprites/frames/player - slide_00007.png
/sprites/frames/player - slide_00008.png
/sprites/frames/player - slide_00009.png
/sprites/frames/player - slide_00010.png
/sprites/frames/player - slide_00011.png
/sprites/frames/player - slide_00012.png
/sprites/frames/player - slide_00013.png
/sprites/frames/player - slide_00014.png
/sprites/frames/player - slide_00015.png
/sprites/frames/player - slide_00016.png
/sprites/frames/player - slide_00017.png
/sprites/frames/player - slide_00018.png
/sprites/frames/player - slide_00019.png
/sprites/frames/player - slide_00020.png
/sprites/frames/player - slide_00021.png
/sprites/frames/player - slide_00022.png
/sprites/frames/player - slide_00023.png
/sprites/frames/player_stand.png
/sprites/frames/player - walk_00020.png
/sprites/frames/player - walk_00021.png
/sprites/frames/player - walk_00022.png
/sprites/frames/player - walk_00023.png
/sprites/frames/player - walk_00024.png
/sprites/frames/player - walk_00025.png
/sprites/frames/player - walk_00026.png
/sprites/frames/player - walk_00027.png
/sprites/frames/player - walk_00028.png
/sprites/frames/player - walk_00029.png
/sprites/frames/player - walk_00030.png
/sprites/frames/player - walk_00031.png
/sprites/frames/player - walk_00032.png
/sprites/frames/player - walk_00033.png
/sprites/frames/player - walk_00034.png
/sprites/frames/player - walk_00035.png
/sprites/frames/player - walk_00036.png
/sprites/frames/player - walk_00037.png
/sprites/frames/player - walk_00038.png
/sprites/frames/player - walk_00039.png
/sprites/frames/player - walk_00040.png
/sprites/frames/player - walk_00041.png
/sprites/frames/player - walk_00042.png
/sprites/frames/player - walk_00043.png
/sprites/frames/player - walk_00044.png
/sprites/frames/player - walk_00045.png
/sprites/frames/player - walk_00046.png
/sprites/frames/player - walk_00047.png
/sprites/frames/player - walk_00048.png
/sprites/frames/player - walk_00049.png
/sprites/frames/player - walk_00050.png
/sprites/frames/player - walk_00051.png
/sprites/frames/player - walk_00052.png
/sprites/frames/player - walk_00053.png
/sprites/frames/player - walk_00054.png
/sprites/frames/player - walk_00055.png
/sprites/frames/player - walk_00056.png
/sprites/frames/player - walk_00057.png
/sprites/frames/player - walk_00058.png
/sprites/frames/player - walk_00059.png
/sprites/frames/player - walk_00060.png
/sprites/frames/player - walk_00061.png
/sprites/frames/player - walk_00062.png
/sprites/frames/player - walk_00063.png
/sprites/frames/player - walk_00064.png
/sprites/frames/player - walk_00065.png
/sprites/frames/player - walk_00066.png
/sprites/frames/player - walk_00067.png
/sprites/frames/player - walk_00068.png
/sprites/frames/player - walk_00069.png
/sprites/frames/player - walk_00070.png
/sprites/frames/player - walk_00071.png
/sprites/frames/player - walk_00072.png
/sprites/frames/player - walk_00073.png
/sprites/frames/player - walk_00074.png
/sprites/frames/player - walk_00075.png
/sprites/frames/player - wire kick_00000.png
/sprites/frames/player - wire kick_00001.png
/sprites/frames/player - wire kick_00002.png
/sprites/frames/player - wire kick_00003.png
/sprites/frames/player - wire kick_00004.png
/sprites/frames/player - wire kick_00005.png
